<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Color Game</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      {{(currentUser | async)?.username}}
    </span>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="currentUser | async; else login">
        <a class="nav-link" routerLink="user/logout">Logout</a>
      </li>

      <ng-template #login>
        <li class="nav-item">
          <a class="nav-link" routerLink="user/login">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>